.userList {
  flex: 2;
  height: 80%;
}

.userListUser {
  display: block !important;
  align-items: center;
  text-align: center;
}

.progressBar{
  margin: 2em;
}

.phases{
  display: flex;
  flex-wrap: wrap;
  height: 2em;
  margin: 2em;
}

.button{
  margin: 3%;
  flex: 50%;
  max-width: 50%;
  width: 10px;
}

.MuiDataGrid-root .MuiDataGrid-cell--withRenderer{
  display: block !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer{
  display: block !important;
  text-align: center;
}

